<app-header></app-header>
<!-- job-start -->

<section class="detailbg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="backbtn">
					<a href="career.html"><button class="btn btn-success btn-lg cstm"><i class="fa fa-long-arrow-left"></i> Back</button></a>
				</div>
				<div class="content">
					<div class="headings">
						<h6>Job Description</h6>
						<h5>Sale Manager</h5>
						<p>Los Angeles</p>
					</div>
					<div class="apply"><a href="contact-us.html" target="_blank"><button class="btn btn-success btn-lg cstm">Email Us</button></a></div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- job-end -->





<section class="jobbg">
	<div class="container">
		<div class="col-md-12">
			<div class="jobbox">
				<h3>Introduction to your Job</h3>
				<ul>
					<li>Develop, test, and maintain applications to specified designs &amp; standards Core PHP, MVC architecture and other PHP frameworks.</li>
					<li>Develop &amp; implement modern web services using service-oriented architecture, RESTful APIs, and SOAP</li>
					<li>Write and execute unit tests</li>
					<li>Implement front-end interfaces &amp; experiences with modern HTML/CSS/jQuery</li>
					<li>Test, troubleshoot, and optimize application components for maximum speed, security, stability, and scalability</li>
				</ul>
			</div>
			<div class="jobbox">
				<h3>Ideally, you should have:</h3>
				<ul>
					<li>2+ years of experience in hands-on development using PHP</li>
					<li>Experience in Core PHP and MySQL/MariaDB using MVC Architecture</li>
					<li>Knowledge of front end technologies (HTML5, CSS3, JavaScript, jQuery, etc.)</li>
					<li>Knowledge and experience of OOPS</li>
					<li>Ability to write API’s, Restful</li>
					<li>Knowledge of engineering practices like CI-CD</li>
					<li>Strong documentation, communication, and team collaboration skills</li>
					<li>Database operations with MySQL	</li>
				</ul>
			</div>
			<div class="jobbox">
				<div class="applybtns">
					<a [routerLink]="'/about/career/detail/apply'"><button class="btn btn-success btn-lg cstm">Apply Now</button></a>
					<span>Or</span>
					<a [routerLink]="'/about/career'"><button class="btn btn-dark btn-lg cstm">View All Job</button></a>
				</div>
			</div>
		</div>
	</div>
</section>








<!-- who-we-are -->

<section class="lifebg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h2>Life@Equity Finders</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="slider">
		<owl-carousel
        [options]="{items: 4,margin:10,  navigation: false,dots: false,autoplayTimeout:3000,autoplay:true,stagePadding: 50, loop:true}"
  
  
        [carouselClasses]="['owl-theme', 'sliding']">
			<div class="screen"><img src="assets/images/s1.jpg"></div>
			<div class="screen"><img src="assets/images/s2.jpg"></div>
			<div class="screen"><img src="assets/images/s3.jpg"></div>
			<div class="screen"><img src="assets/images/s1.jpg"></div>
			<div class="screen"><img src="assets/images/s2.jpg"></div>
			<div class="screen"><img src="assets/images/s3.jpg"></div>
			<div class="screen"><img src="assets/images/s1.jpg"></div>
			<div class="screen"><img src="assets/images/s2.jpg"></div>
			<div class="screen"><img src="assets/images/s3.jpg"></div>
			<div class="screen"><img src="assets/images/s1.jpg"></div>
			<div class="screen"><img src="assets/images/s2.jpg"></div>
			<div class="screen"><img src="assets/images/s3.jpg"></div>
			<div class="screen"><img src="assets/images/s1.jpg"></div>
			<div class="screen"><img src="assets/images/s2.jpg"></div>
			<div class="screen"><img src="assets/images/s3.jpg"></div>
			<div class="screen"><img src="assets/images/s1.jpg"></div>
			<div class="screen"><img src="assets/images/s2.jpg"></div>
			<div class="screen"><img src="assets/images/s3.jpg"></div>
		</owl-carousel>
	</div>
</section>

<!-- who-we-are -->

<app-footer></app-footer>