.record_name_popup_change input.form-control {
    height: 70px;
    font-size: 20px;
    text-align: center;
    border: 2px dashed #000;
    margin-bottom: 50px;
}
.record_name_popup_change button.btn {
    height: 60px;
    font-size: 18px;
}
.record_name_popup_change {
    padding-top: 50px;
}