<app-header-customer [sideBar]="sideBar"></app-header-customer>
<app-sidebar-customer #sideBar></app-sidebar-customer>


	<!-- right area start -->
	<section class="right_section trash_component" [class.load]="load!=1">
        <!-- inside_content_area start-->
        <div class="content_area">

                <!-- main row start-->
                <div class="col-sm-12">
                    <div class="row">

                        <!--table start -->
                        <div class="col-sm-12 top_selling">
                                <div class="inside trash_datatable">
                                    <div class="row">
                                    <div class="title col-md-8">Trash</div>
                                    <div class="col-md-4 text-right"><button class="btn btn-success" (click)="manageGridModal()">Manage Grid</button></div>
                                </div>
                                    <table *ngIf="load==1" datatable [dtOptions]="dtOptions" id="crm" class="row-border hover">

                                    </table>
                                    
			                        <app-common-table *ngIf="load!=1" [title]="'0'" [manage]="'0'"></app-common-table>
                                </div>
                        </div>
                    </div>
                </div>
        </div>
        

	<app-common-overlay *ngIf="load!=1"></app-common-overlay>
    </section>
