<app-header></app-header>




<!-- listing-area -->
<section id="listing_prop">
	<div class="container">
		<div class="row">
		<div class="listing_heading">
			<div class="headtitle">
				<h2>Explore</h2>
			</div>
			<div class="grid_view">
				<a href="javascript:void()" class="list_view active"><i class="fa fa-th-list"></i></a>
				<a href="javascript:void()" class="grid_btn"><i class="fa fa-th"></i></a>
			</div>
		</div>
		</div>




		<div class="row columns">
			<!-- content-area1-->
			<div class="list_top_bg">
				<div class="col-md-3 nopadding">
					<div class="listimage">
						<a href="property-detail3.html"><img src="assets/images/list.png"></a>
					</div>
				</div>

				
				<div class="col-md-9 nopadding">
					<div class="listing_content">
						<h2>Villa On Washington Ave</h2>
						<span>$5.500.000</span>
						<p>Beautiful, updated, ground level Co-op apartment in the desirable Bay Terrace neighborhood. This home features hardwood floors throughout, brand new bathrooms...</p>

						<div class="quantity_area">
							<div class="quantity_links">
								<div class="links2">
									<ul>
										<li><a href="#"><img src="assets/images/bed.png"> <span>2</span> </a></li>
										<li><a href="#"><img src="assets/images/bath.png"> <span>2</span> </a></li>
										<li><a href="#"><img src="assets/images/square.png"> <span>217,800 Sq. Ft.</span></a></li>
									</ul>
								</div>
							</div>
							<div class="chat_detail_link">
								<div class="links">
									<ul>
										<li>
											<a href="javascript:void()">
												<img src="assets/images/bulb.png" class="bulb">
												<img src="assets/images/bulb2.png" class="bulb2">
											</a>
										</li>
										<li>
											<a href="javascript:void()">
												<img src="assets/images/fire.png" class="bulb">
												<img src="assets/images/fire2.png" class="bulb2">
											</a>
										</li>
										<li><a href="property-detail3.html" class="infofull2">Full Info</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content-area1-end-->


			<!-- content-area2-->
			<div class="list_top_bg">
				<div class="col-md-3 nopadding">
					<div class="listimage">
						<a href="property-detail3.html"><img src="assets/images/ex1.png"></a>
					</div>
				</div>

				
				<div class="col-md-9 nopadding">
					<div class="listing_content">
						<h2>Villa On Washington Ave</h2>
						<span>$5.500.000</span>
						<p>Beautiful, updated, ground level Co-op apartment in the desirable Bay Terrace neighborhood. This home features hardwood floors throughout, brand new bathrooms...</p>

						<div class="quantity_area">
							<div class="quantity_links">
								<div class="links2">
									<ul>
										<li><a href="#"><img src="assets/images/bed.png"> <span>2</span> </a></li>
										<li><a href="#"><img src="assets/images/bath.png"> <span>2</span> </a></li>
										<li><a href="#"><img src="assets/images/square.png"> <span>217,800 Sq. Ft.</span></a></li>
									</ul>
								</div>
							</div>
							<div class="chat_detail_link">
								<div class="links">
									<ul>
										<li>
											<a href="javascript:void()">
												<img src="assets/images/bulb.png" class="bulb">
												<img src="assets/images/bulb2.png" class="bulb2">
											</a>
										</li>
										<li>
											<a href="javascript:void()">
												<img src="assets/images/fire.png" class="bulb">
												<img src="assets/images/fire2.png" class="bulb2">
											</a>
										</li>
										<li><a href="property-detail3.html" class="infofull2">Full Info</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content-area2-end-->


			<!-- content-area3-->
			<div class="list_top_bg">
				<div class="col-md-3 nopadding">
					<div class="listimage">
						<a href="property-detail3.html"><img src="assets/images/ex2.png"></a>
					</div>
				</div>

				
				<div class="col-md-9 nopadding">
					<div class="listing_content">
						<h2>Villa On Washington Ave</h2>
						<span>$5.500.000</span>
						<p>Beautiful, updated, ground level Co-op apartment in the desirable Bay Terrace neighborhood. This home features hardwood floors throughout, brand new bathrooms...</p>

						<div class="quantity_area">
							<div class="quantity_links">
								<div class="links2">
									<ul>
										<li><a href="#"><img src="assets/images/bed.png"> <span>2</span> </a></li>
										<li><a href="#"><img src="assets/images/bath.png"> <span>2</span> </a></li>
										<li><a href="#"><img src="assets/images/square.png"> <span>217,800 Sq. Ft.</span></a></li>
									</ul>
								</div>
							</div>
							<div class="chat_detail_link">
								<div class="links">
									<ul>
										<li>
											<a href="javascript:void()">
												<img src="assets/images/bulb.png" class="bulb">
												<img src="assets/images/bulb2.png" class="bulb2">
											</a>
										</li>
										<li>
											<a href="javascript:void()">
												<img src="assets/images/fire.png" class="bulb">
												<img src="assets/images/fire2.png" class="bulb2">
											</a>
										</li>
										<li><a href="property-detail3.html" class="infofull2">Full Info</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content-area3-end-->


			<!-- content-area4-->
			<div class="list_top_bg">
				<div class="col-md-3 nopadding">
					<div class="listimage">
						<a href="property-detail3.html"><img src="assets/images/ex3.png"></a>
					</div>
				</div>

				
				<div class="col-md-9 nopadding">
					<div class="listing_content">
						<h2>Villa On Washington Ave</h2>
						<span>$5.500.000</span>
						<p>Beautiful, updated, ground level Co-op apartment in the desirable Bay Terrace neighborhood. This home features hardwood floors throughout, brand new bathrooms...</p>

						<div class="quantity_area">
							<div class="quantity_links">
								<div class="links2">
									<ul>
										<li><a href="#"><img src="assets/images/bed.png"> <span>2</span> </a></li>
										<li><a href="#"><img src="assets/images/bath.png"> <span>2</span> </a></li>
										<li><a href="#"><img src="assets/images/square.png"> <span>217,800 Sq. Ft.</span></a></li>
									</ul>
								</div>
							</div>
							<div class="chat_detail_link">
								<div class="links">
									<ul>
										<li>
											<a href="javascript:void()">
												<img src="assets/images/bulb.png" class="bulb">
												<img src="assets/images/bulb2.png" class="bulb2">
											</a>
										</li>
										<li>
											<a href="javascript:void()">
												<img src="assets/images/fire.png" class="bulb">
												<img src="assets/images/fire2.png" class="bulb2">
											</a>
										</li>
										<li><a href="property-detail3.html" class="infofull2">Full Info</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content-area4-end-->


			<!-- content-area5-->
			<div class="list_top_bg">
				<div class="col-md-3 nopadding">
					<div class="listimage">
						<a href="property-detail3.html"><img src="assets/images/ex4.png"></a>
					</div>
				</div>

				
				<div class="col-md-9 nopadding">
					<div class="listing_content">
						<h2>Villa On Washington Ave</h2>
						<span>$5.500.000</span>
						<p>Beautiful, updated, ground level Co-op apartment in the desirable Bay Terrace neighborhood. This home features hardwood floors throughout, brand new bathrooms...</p>

						<div class="quantity_area">
							<div class="quantity_links">
								<div class="links2">
									<ul>
										<li><a href="#"><img src="assets/images/bed.png"> <span>2</span> </a></li>
										<li><a href="#"><img src="assets/images/bath.png"> <span>2</span> </a></li>
										<li><a href="#"><img src="assets/images/square.png"> <span>217,800 Sq. Ft.</span></a></li>
									</ul>
								</div>
							</div>
							<div class="chat_detail_link">
								<div class="links">
									<ul>
										<li>
											<a href="javascript:void()">
												<img src="assets/images/bulb.png" class="bulb">
												<img src="assets/images/bulb2.png" class="bulb2">
											</a>
										</li>
										<li>
											<a href="javascript:void()">
												<img src="assets/images/fire.png" class="bulb">
												<img src="assets/images/fire2.png" class="bulb2">
											</a>
										</li>
										<li><a href="property-detail3.html" class="infofull2">Full Info</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content-area5-end-->


			<!-- content-area6-->
			<div class="list_top_bg">
				<div class="col-md-3 nopadding">
					<div class="listimage">
						<a href="property-detail3.html"><img src="assets/images/ex5.png"></a>
					</div>
				</div>

				
				<div class="col-md-9 nopadding">
					<div class="listing_content">
						<h2>Villa On Washington Ave</h2>
						<span>$5.500.000</span>
						<p>Beautiful, updated, ground level Co-op apartment in the desirable Bay Terrace neighborhood. This home features hardwood floors throughout, brand new bathrooms...</p>

						<div class="quantity_area">
							<div class="quantity_links">
								<div class="links2">
									<ul>
										<li><a href="#"><img src="assets/images/bed.png"> <span>2</span> </a></li>
										<li><a href="#"><img src="assets/images/bath.png"> <span>2</span> </a></li>
										<li><a href="#"><img src="assets/images/square.png"> <span>217,800 Sq. Ft.</span></a></li>
									</ul>
								</div>
							</div>
							<div class="chat_detail_link">
								<div class="links">
									<ul>
										<li>
											<a href="javascript:void()">
												<img src="assets/images/bulb.png" class="bulb">
												<img src="assets/images/bulb2.png" class="bulb2">
											</a>
										</li>
										<li>
											<a href="javascript:void()">
												<img src="assets/images/fire.png" class="bulb">
												<img src="assets/images/fire2.png" class="bulb2">
											</a>
										</li>
										<li><a href="property-detail3.html" class="infofull2">Full Info</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content-area6-end-->
		</div>



		<div class="row">
		<div class="center">
			<div class="pagination">
			  <a href="#"><i class="fa fa-angle-left"></i></a>
			  <a href="#">1</a>
			  <a href="#" class="active">2</a>
			  <a href="#">3</a>
			  <a href="#">4</a>
			  <a href="#">5</a>
			  <a href="#">6</a>
			  <a href="#"><i class="fa fa-angle-right"></i></a>
			</div>
		</div>
		</div>

	</div>
</section>
<!-- listing-area-end-->

<app-footer></app-footer>