<app-header></app-header>
<section class="carerbg">
	<div class="container">
        <owl-carousel
        [options]="{items: 1,padding:0,  navigation: false,dots: false,animateOut: 'fadeOut',autoplayTimeout:3000,autoplay:true}"
  
  
        [carouselClasses]="['owl-theme', 'sliding']">
            <div class="screen row">
				<div class="col-md-6 review-text-box">
					<div class="review-part">
						<p>I have been with Equity Finders since 2015 and I am proud to say I have been here since the beginning of Equity Finder’s US Division. I have seen the division grow to from a start-up to a major player in the US market. The experiences I have gained along the way are irreplaceable and valuable to my career growth. Every day I work with dedicated great co-workers from across the globe, everything is a team effort and every day presents new challenges to overcome </p>
						<div class="authortext">
							<h3>Tiffany Arthur</h3>
							<h5>Asst. Manager– EF– USA</h5>
						</div>
					</div>
					<div class="joinequity">
						<h1>Join Equity Finders</h1>
						<a href="#getjob"><button class="btn btn-success btn-lg">View All Jobs <i class="fa fa-long-arrow-right"></i></button></a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="author"><img src="assets/images/c4.png" class="img-reponsive"></div>
				</div>
            </div>
            <div class="screen row">
				<div class="col-md-6 review-text-box">
					<div class="review-part">
						<p>Equity Finders has an amazing bench of Sales Manager, Technical Resources for me to utilize, this gives me tons of confidence walking into any customer scenario that our team is going to be able to address the customer needs and resolve their problems. Everyone I work with at EF has a strong drive to get things done, regardless of the time of day or day of week, the team is here to solve problems.</p>
						<div class="authortext">
							<h3>Robert Cayouette</h3>
							<h5>Sales Manager– USA</h5>
						</div>
					</div>
					<div class="joinequity">
						<h1>Join Equity Finders</h1>
						<a href="#getjob"><button class="btn btn-success btn-lg">View All Jobs <i class="fa fa-long-arrow-right"></i></button></a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="author"><img src="assets/images/c1.png" class="img-reponsive"></div>
				</div>
            </div>
            <div class="screen row">
				<div class="col-md-6 review-text-box">
					<div class="review-part">
						<p>Equity Finders stands a special place in my heart professionally and personally. The company’s open approach makes builds trust in its stakeholders across the horizon of work. I can’t forget the recognition mails from my CEO and the team with Awards which inspired me to be a part of the EF’s Growth story of being useful to my customer and say to my customer –We are the Pathways towards the Infrastructure of tomorrow. Overall, I am sure of creating my own success stories in EF throughout my aspirational Journey in EF.</p>
						<div class="authortext">
							<h3>Bridget Higgins</h3>
							<h5>Business manager – California</h5>
						</div>
					</div>
					<div class="joinequity">
						<h1>Join Equity Finders</h1>
						<a href="#getjob"><button class="btn btn-success btn-lg">View All Jobs <i class="fa fa-long-arrow-right"></i></button></a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="author"><img src="assets/images/c5.png" class="img-reponsive"></div>
				</div>
            </div>
            <div class="screen row">
				<div class="col-md-6 review-text-box">
					<div class="review-part">
						<p>Since joining EF, I’ve learned so many new things: colleagues taught me about the industry and shared their knowledge with me. I will always be thankful to the people who believed in me and gave me this opportunity to grow, not only within the company but also as a person. At EF, I have learned so much – I faced challenges and I also experienced very beautiful moments that will stay forever in my memory and many more to come in my life. Here’s to continuing my career at this exceptional company.</p>
						<div class="authortext">
							<h3>Pawan Panwar</h3>
							<h5>Executive – Finance- Los Angeles</h5>
						</div>
					</div>
					<div class="joinequity">
						<h1>Join Equity Finders</h1>
						<a href="#getjob"><button class="btn btn-success btn-lg">View All Jobs <i class="fa fa-long-arrow-right"></i></button></a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="author"><img src="assets/images/c2.png" class="img-reponsive"></div>
				</div>
            </div>
            <div class="screen row">
				<div class="col-md-6 review-text-box">
					<div class="review-part">
						<p>There are many things that I love about Equity Finders. I love the work environment. I love the camaraderie that I have formed with the co-workers. I love being a part of something larger that makes a difference. I love that everyone cares for others and have flexibility when needed.</p>
						<div class="authortext">
							<h3>Angelo Matthew</h3>
							<h5>Associate Vice President –Help &Support</h5>
						</div>
					</div>
					<div class="joinequity">
						<h1>Join Equity Finders</h1>
						<a href="#getjob"><button class="btn btn-success btn-lg">View All Jobs <i class="fa fa-long-arrow-right"></i></button></a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="author"><img src="assets/images/c3.png" class="img-reponsive"></div>
				</div>
            </div>
        </owl-carousel>
    </div>
</section>


<!-- who-we-are -->

<section class="whobg">
	<div class="container">
		<div class="row">
			<!-- <div class="col-md-6">
				<div class="abtimg"><img src="assets/images/aboutbg.png" class="img-reponsive"></div>
			</div> -->
			<div class="col-md-12">
				<div [innerHTML]="mainData" class="aboutcontent">
				</div>
			</div>
		</div>
	</div>
</section>

<!-- who-we-are -->







<!--acordian-panel-->
<section class="acordianbg" id="getjob">
	<div class="container">

		<div class="row">
		<div class="col-md-12">
			<div class="titlejob">Jobs With Us</div>
		</div>

		<div class="col-md-4">
			<div class="carer_tabs">
				<nav>
		            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
		                <a class="nav-item nav-link active" id="nav-los-tab" data-toggle="tab" href="#nav-los" role="tab" aria-controls="nav-income" aria-selected="true">Los Angeles </a>
		                <a class="nav-item nav-link" id="nav-california-tab" data-toggle="tab" href="#nav-california" role="tab" aria-controls="nav-expenses" aria-selected="false">California</a>
		                <a class="nav-item nav-link" id="nav-florida-tab" data-toggle="tab" href="#nav-florida" role="tab" aria-controls="nav-expenses" aria-selected="false">Florida</a>
		                <a class="nav-item nav-link" id="nav-texas-tab" data-toggle="tab" href="#nav-texas" role="tab" aria-controls="nav-expenses" aria-selected="false">Texas</a>
		                <a class="nav-item nav-link" id="nav-newyork-tab" data-toggle="tab" href="#nav-newyork" role="tab" aria-controls="nav-expenses" aria-selected="false">New York</a>
		                <a class="nav-item nav-link" id="nav-arizona-tab" data-toggle="tab" href="#nav-arizona" role="tab" aria-controls="nav-expenses" aria-selected="false">Arizona</a>
		            </div>
		        </nav>
			</div>
		</div>

		
		<div class="col-md-8">
			<div class="carer_content">
				<div class="tab-content px-3 px-sm-0" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-los" role="tabpanel" aria-labelledby="nav-los-tab">
						<div class="joblists">
							<ul>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Sales Manager <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Sales Executive <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Marketing Head <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Accounts Manager <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Accounts Executive <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Frontend Developer <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Presales <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Support Assistant <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Field Officer <i class="fa fa-angle-right"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="tab-pane fade" id="nav-california" role="tabpanel" aria-labelledby="nav-california-tab">
						<div class="joblists">
							<ul>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Sales Manager <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Sales Executive <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Marketing Head <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Accounts Manager <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Accounts Executive <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Frontend Developer <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Presales <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Support Assistant <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Field Officer <i class="fa fa-angle-right"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="tab-pane fade" id="nav-florida" role="tabpanel" aria-labelledby="nav-florida-tab">
						<div class="joblists">
							<ul>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Sales Manager <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Sales Executive <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Marketing Head <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Accounts Manager <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Accounts Executive <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Frontend Developer <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Presales <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Support Assistant <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Field Officer <i class="fa fa-angle-right"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="tab-pane fade" id="nav-texas" role="tabpanel" aria-labelledby="nav-texas-tab">
						<div class="joblists">
							<ul>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Sales Manager <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Sales Executive <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Marketing Head <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Accounts Manager <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Accounts Executive <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Frontend Developer <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Presales <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Support Assistant <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Field Officer <i class="fa fa-angle-right"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="tab-pane fade" id="nav-newyork" role="tabpanel" aria-labelledby="nav-newyork-tab">
						<div class="joblists">
							<ul>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Sales Manager <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Sales Executive <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Marketing Head <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Accounts Manager <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Accounts Executive <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Frontend Developer <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Presales <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Support Assistant <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Field Officer <i class="fa fa-angle-right"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="tab-pane fade" id="nav-arizona" role="tabpanel" aria-labelledby="nav-arizona-tab">
						<div class="joblists">
							<ul>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Sales Manager <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Sales Executive <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Marketing Head <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Accounts Manager <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Accounts Executive <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Frontend Developer <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Presales <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Support Assistant <i class="fa fa-angle-right"></i></a></li>
								<li><a [routerLink]="'/about/career/detail'" target="_blank">Field Officer <i class="fa fa-angle-right"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>

	</div>
</section>
<!--acordian-panel-end-->











<!-- talent -->

<section class="talentbg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<p>Don't see a job you are interested in? Reach out to us to explore options. We are always happy to connect with talented people.</p>
					<a href="contact-us.html" target="_blank"><button class="btn btn-success btn-lg cstm">Email Us</button></a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- talent-end -->








<!-- who-we-are -->

<section class="lifebg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h2>Life @Equity Finders</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="slider">
		<owl-carousel
        [options]="{items: 4,margin:10,  navigation: false,dots: false,autoplayTimeout:3000,autoplay:true,stagePadding: 50, loop:true}"
  
  
        [carouselClasses]="['owl-theme', 'sliding']">
			<div class="screen"><img src="assets/images/s1.jpg"></div>
			<div class="screen"><img src="assets/images/s2.jpg"></div>
			<div class="screen"><img src="assets/images/s3.jpg"></div>
			<div class="screen"><img src="assets/images/s1.jpg"></div>
			<div class="screen"><img src="assets/images/s2.jpg"></div>
			<div class="screen"><img src="assets/images/s3.jpg"></div>
			<div class="screen"><img src="assets/images/s1.jpg"></div>
			<div class="screen"><img src="assets/images/s2.jpg"></div>
			<div class="screen"><img src="assets/images/s3.jpg"></div>
			<div class="screen"><img src="assets/images/s1.jpg"></div>
			<div class="screen"><img src="assets/images/s2.jpg"></div>
			<div class="screen"><img src="assets/images/s3.jpg"></div>
			<div class="screen"><img src="assets/images/s1.jpg"></div>
			<div class="screen"><img src="assets/images/s2.jpg"></div>
			<div class="screen"><img src="assets/images/s3.jpg"></div>
			<div class="screen"><img src="assets/images/s1.jpg"></div>
			<div class="screen"><img src="assets/images/s2.jpg"></div>
			<div class="screen"><img src="assets/images/s3.jpg"></div>
		</owl-carousel>
	</div>

</section>

<!-- who-we-are -->
<app-footer></app-footer>
