.reminder_open .left {
    font-weight: 500;
    font-size: 20px;
}
.reminder_open .right{
    font-weight: 500;
    font-size: 20px;
}
.reminder_open .data {
    border-top: 1px solid #dcdcdc;
    margin-top: 18px;
    padding-top: 18px;
    font-size: 20px;
}