<section id="forgot_bg">
	<div class="container">
		<div class="col-md-6 offset-md-3">
			<div class="forgot_box">
				<h5>Change Password</h5>
				<form [formGroup]="forgotChangePwdForm" (ngSubmit)="submitForm()">
				<div class="flexform">
					<span><i class="fa fa-key"></i></span>
					<input type="password" class="formflds" placeholder="New Password" formControlName="password">
					<ng-container *ngIf="submit && forgotChangePwdForm.get('password').errors">
						<small *ngIf="forgotChangePwdForm.get('password').errors.required" class="error-text">New Password is required.</small>
						<small *ngIf="forgotChangePwdForm.get('password').errors.minlength" class="error-text">New Password should be minimum 6 characters.</small>
					</ng-container>
					<ng-container *ngIf="submit && forgotChangePwdForm.get('password_confirmation').errors">
						<small *ngIf="forgotChangePwdForm.get('password_confirmation').errors.mustMatch" class="error-text">New Password must be same.</small>
					</ng-container>
                </div>
                <div class="flexform">
					<span><i class="fa fa-key"></i></span>
					<input type="password" class="formflds" placeholder="Confirm New Password" formControlName="password_confirmation">
					<ng-container *ngIf="submit && forgotChangePwdForm.get('password_confirmation').errors">
						<small *ngIf="forgotChangePwdForm.get('password_confirmation').errors.required" class="error-text">Confirm Password is required.</small>
						<small *ngIf="forgotChangePwdForm.get('password_confirmation').errors.minlength" class="error-text">Confirm Password should be minimum 6 characters.</small>
						<small *ngIf="forgotChangePwdForm.get('password_confirmation').errors.mustMatch" class="error-text">Confirm Password must be same.</small>
					</ng-container>
				</div>
				<div class="btn_center">
					<button type="submit" class="send">Change Password</button>
				</div>
				</form>
			</div>
		</div>
	</div>
</section>

