<app-header></app-header>


<section id="e_profilebg">
	<div class="container">
		<div class="col-md-6 offset-md-3">
			<div class="profile_box">
				<h5>Edit Profile</h5>


				<div class="editpic">
					<div class="circle">
				       <img class="profile-pic" src="assets/images/profile.png">
				    </div>
				    <div class="p-image">
				       	<i class="fa fa-pencil upload-button"></i>
				       	<input class="file-upload" type="file" accept="image/*"/>
				    </div>
				</div>

				<div class="flexform">
					<span><i class="fa fa-user"></i></span>
					<input type="text" class="formflds" contenteditable="true" value="John" name="">
				</div>
				<div class="flexform">
					<span><i class="fa fa-user"></i></span>
					<input type="text" class="formflds" contenteditable="true" value="Doe" name="">
				</div>
				<div class="flexform">
					<span><i class="fa fa-envelope-o"></i></span>
					<input type="text" class="formflds" contenteditable="true" value="johndoeoffical@gmail.com" name="">
				</div>
				<div class="flexform">
					<span><i class="fa fa-phone"></i></span>
					<input type="text" class="formflds" contenteditable="true" value="0123-456-789" name="">
				</div>
				<!-- <div class="flexform">
					<span><i class="fa fa-map-marker"></i></span>
					<input type="text" class="formflds" contenteditable="true" value="Address" name="">
				</div>
				<div class="flexform">
					<textarea class="area" contenteditable="true" placeholder="About" name="">You will learn how to make a website. We offer free tutorials in all web development technologies.</textarea>
				</div> -->
				<div class="btn_center">
					<button type="button" class="upgrade"><i class="fa fa-cog"></i> Update</button>
				</div>
			</div>
		</div>
	</div>
</section>

<app-footer></app-footer>