<app-header></app-header>


<section id="e_profilebg">
	<div class="container">
		<div class="col-md-6 offset-md-3">
			<div class="profile_box2">
				<h5>Profile</h5>
				<div class="editpic">
					<div class="circle">
				       <img class="profile-pic" src="assets/images/profile.png">
				    </div>
				</div>

				 <div class="user_detail">
			    	<h2>John Doe</h2>
			    	<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p> -->

			    	<div class="sperator">Info</div>
			    	<ul>
			    		<li><i class="fa fa-envelope-o"></i> johndoeofficialexmple.com</li>
			    		<li><i class="fa fa-phone"></i> 0123-456-789</li>
			    		<li><i class="fa fa-map-marker"></i> #123, Street Road, California, USA</li>
			    	</ul>

			    	<div class="btns_new">
			    		<a [routerLink]="'/profile/edit'" class="edits"><i class="fa fa-pencil"></i> Edit Profile</a>
			    		<a href="#"><i class="fa fa-sign-out"></i> Log out</a>
			    	</div>

			    	<div class="graphs"><img src="assets/images/graphics.png"></div>

			    </div>

			</div>
		</div>
	</div>
</section>

<app-footer></app-footer>
