<app-header></app-header>

<!-- submit-resume -->

<section class="applybg">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-6 career_work_redbox">
				<h2>Come work with us.</h2>
				<p>Passion. Purpose. Humility. <br>Sounds like you? <br>Let's talk!</p>
				<span>Hate to fill out forms, <a href="contact-us.html">email</a> us directly</span>
			</div>
			<div class="col-md-6">
				

				<div class="formbg">
					<form>
						<div class="col-md-12">
							<div class="md-form">
                                <input type="text" id="defaultForm-name" class="form-control">
                                <label for="defaultForm-name">Full Name</label>
                            </div>
						</div>

						<div class="col-md-12">
							<div class="md-form">
                                <input type="text" id="defaultForm-email" class="form-control">
                                <label for="defaultForm-email">Your Email</label>
                            </div>
						</div>

						<div class="col-md-12">
							<div class="md-form">
                                <input type="text" id="defaultForm-phone" class="form-control">
                                <label for="defaultForm-phone">Your Phone</label>
                            </div>
						</div>

						<div class="col-md-12">
							<div class="md-form">
							<select class="form-control2">
								<option value="Select Any One">Select Any One</option>
								<option value="Sales Manager">Sales Manager</option>
								<option value="Sales Executive">Sales Executive</option>
								<option value="Marketing Head">Marketing Head</option>
								<option value="Accounts Manager">Accounts Manager</option>
								<option value="Accounts Executive">Accounts Executive</option>
								<option value="Frontend Developer">Frontend Developer</option>
								<option value="Presales">Presales</option>
								<option value="Support Assistant">Support Assistant</option>
								<option value="Field Officer">Field Officer</option>
							</select>
							</div>
						</div>

						<div class="col-md-12">
							<div class="md-form">
                                <textarea type="text" id="form81" class="form-control md-textarea" style="height:80px"></textarea>
                                <label for="form81">Your Message</label>
                            </div>
						</div>

						<div class="col-md-12">
							<div class="md-form">
							    <input type="file" class="form-control-file" id="exampleInputFile">
							</div>
						</div>

						<div class="col-md-12">
							<div class="md-form">
							<div class="text-center">
                                <button class="btn btn-primary waves-effect waves-light">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
                            </div>
                        	</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- submit-resume -->

<app-footer></app-footer>