<app-header-customer [sideBar]="sideBar"></app-header-customer>
<app-sidebar-customer #sideBar></app-sidebar-customer>
    <!-- right area start -->
	<section class="right_section">

        <!-- inside_content_area start-->
        <div class="content_area">

                <!-- main row start-->
                <div class="col-sm-12">
                    <div class="row">

                        <div class="col-sm-12 customer_tabs">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" data-toggle="pill" href="#sale_manager">Sales Manager</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#sale_executive">Sales Executive</a></li>
                            </ul>
                        </div>


                        <div class="tab-content">
                            <!--table start -->
                            <div class="col-sm-12 tab-pane active top_selling" id="sale_manager">
                                <div class="inside">
                                    <div class="title">Sales Manager</div>
                                    <table datatable [dtOptions]="dtOptions" class="row-border hover">

                                    </table>
                                </div>
                            </div>
                            <!--table end-->

                            <!--table start -->
                            <div class="col-sm-12  tab-pane top_selling fade" id="sale_executive">
                                    <div class="inside">
                                        <div class="title">Sales Executive</div>
                                        <table datatable [dtOptions]="dtOption" class="row-border hover">

                                        </table>
                                    </div>
                                </div>
                            <!--table end-->
                        </div>

                    </div>
                </div>
                <!-- main row end-->

        </div>
        <!-- inside_content_area end-->

</section>
<!-- right area end -->