#e_profilebg {
    margin: 0px;
    padding: 40px 0px;
    background: #f3f3f3;
}
.form-sec{
    background-color: #fff;
    padding:30px
}
.dn{
    display: none;
}
#bar{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    div{
        width: 40px;
        height: 40px;
        background: #e3e3e3;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        border-radius: 50%;
    }
}

  .required:after {
    content:" *";
    color: red;
  }


