<app-header></app-header>
<!-- Banner -->
<section id="help">
	<div class="banner-text">
		<h2>Help</h2>
		<div class="d-table-cell w-100">
			<input class="form-control" placeholder="Search the Knowledge Base">
		</div>
		<div class="d-table-cell align-middle">
			<button class="btn btn-primary sch">Search</button>
		</div>
	</div>
</section>
<!-- Banner End-->




<section id="desc-area">
	<div class="container">
		<div class="row">
				<div class="col-msm-12 col-md-12 col-lg-12 text-left pt-4"><h2>Account Registration</h2></div>
				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Plans & Pricing</h4>
					<a href="#" >20 Articles</a>
				    </div>
				</div>
				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Getting Start</h4>
					<a href="#" >8 Articles</a>
				    </div>
				</div>
				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Org Admin</h4>
					<a href="#" >7 Articles</a>
				    </div>
				</div>

				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Social Account</h4>
					<a href="#" >20 Articles</a>
				</div>
				</div>
				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Posting Schedules</h4>
					<a href="#" >3 Articles</a>
				</div>
				</div>
				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Scheduling Posts</h4>
					<a href="#" >19 Articles</a>
				</div>
				</div>

				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Links, Images, Videos</h4>
					<a href="#" >16 Articles</a>
				</div>
				</div>
				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Managing your Queue</h4>
					<a href="#" >6 Articles</a>
				</div>
				</div>
				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Browser Extensions</h4>
					<a href="#" >7 Articles</a>
				</div>
				</div>

				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Users</h4>
					<a href="#" >5 Articles</a>
				</div>
				</div>
				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Analytics</h4>
					<a href="#" >8 Articles</a>
				</div>
				</div>
				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Account Setting</h4>
					<a href="#" >12 Articles</a>
				</div>
				</div>

				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Institutes</h4>
					<a href="#" >20 Articles</a>
				</div>
				</div>
				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Billing</h4>
					<a href="#" >7 Articles</a>
				</div>
				</div>
				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Integrations</h4>
					<a href="#" >9 Articles</a>
				</div>
				</div>

				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Best Practice</h4>
					<a href="#" >7 Articles</a>
				</div>
				</div>
		</div>

		<hr class="divider_line" />

		<div class="row">
				<div class="col-msm-12 col-md-12 col-lg-12 text-left mt-0"><h2>Advance Search</h2></div>
				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Plans & Pricing</h4>
					<a href="#" >2 Articles</a>
				</div>
				</div>
				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Getting Start</h4>
					<a href="#" >10 Articles</a>
				</div>
				</div>
				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Social Account</h4>
					<a href="#" >4 Articles</a>
				</div>
				</div>

				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Conversation</h4>
					<a href="#" >14 Articles</a>
				</div>
				</div>
				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Preferences</h4>
					<a href="#" >10 Articles</a>
				</div>
				</div>
				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Reports</h4>
					<a href="#" >5 Articles</a>
				</div>
				</div>

				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Integrations</h4>
					<a href="#" >2 Articles</a>
				</div>
				</div>
				<div class="col-sm-12 col-md-4 main">
					<div class="col-sm-12 col-md-12 col-bdr">
					<h4>Mobile App</h4>
					<a href="#" >2 Articles</a>
				</div>
				</div>
		</div>

		<hr class="divider_line" />
				
		<div class="row">
			<div class="col-msm-12 col-md-12 col-lg-12 text-left mt-0"><h2>Wallet</h2></div>
			<div class="col-sm-12 col-md-4 main">
				<div class="col-sm-12 col-md-12 col-bdr">
				<h4>Plans & Pricing</h4>
				<a href="#" >1 Articles</a>
			</div>
			</div>
			<div class="col-sm-12 col-md-4 main">
				<div class="col-sm-12 col-md-12 col-bdr">
				<h4>Getting Start</h4>
				<a href="#" >8 Articles</a>
			</div>
			</div>
			<div class="col-sm-12 col-md-4 main">
				<div class="col-sm-12 col-md-12 col-bdr">
				<h4>Metrics</h4>
				<a href="#" >3 Articles</a>
			</div>
			</div>

			<div class="col-sm-12 col-md-4 main">
				<div class="col-sm-12 col-md-12 col-bdr">
				<h4>Insights</h4>
				<a href="#" >7 Articles</a>
			</div>
			</div>
			<div class="col-sm-12 col-md-4 main">
				<div class="col-sm-12 col-md-12 col-bdr">
				<h4>Tools</h4>
				<a href="#" >2 Articles</a>
			</div>
			</div>
			<div class="col-sm-12 col-md-4 main">
				<div class="col-sm-12 col-md-12 col-bdr">
				<h4>Billing</h4>
				<a href="#" >1 Articles</a>
			</div>
		</div>

		</div>
	</div>
</section>
<app-footer></app-footer>
